<div class="card">
    <h2>
        Support de cours 
    </h2>   
</div>
<div class="container">
    <div class="card-nopad mat-list">
        <h2 class="btm-border">Liste des matières</h2>
        <ul class="btm-border">
            <li>mat 1</li>
            <li>mat2</li>
            <li>mat3</li>
        </ul>
    </div>

    <div class="card-nopad mat-names">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date publication</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Intro00</td>
                    <td>Oct 1 2024</td>
                </tr>
                <tr>
                    <td>Intro00</td>
                    <td>Oct 1 2024</td>
                </tr>
                <tr>
                    <td>Intro00</td>
                    <td>Oct 1 2024</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>