button{
    margin-top: 15px;
    padding: 8px 15px;
    // background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  .green{
    background-color:#3b7e38;
  }
  .red{
    background-color:#7e383f;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input, textarea {
    font-family: monospace;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px ;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}